/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-worksans), sans-serif;
  --font-heading: var(--font-playfair), serif;
}


.playfair {
  font-family: 'Playfair Display', serif;
}